body {
	background: linear-gradient(to right, lawngreen, saddlebrown);
	margin: 0;
}
#mypic {
	width: 60%;
	transform: rotate(-90deg);
	padding: 0 0 0 10%;
	margin: 0 0 20% 15%;
}
hr {
	width: 100%;
	border-bottom-width: 0.05em;
	border-top-color: ghostwhite;
	border-bottom-color: blanchedalmond;
	text-align: center;
	margin: 0;
}
#header {
	color: chartreuse;
	padding: 30px 0px 25px 0px;
	text-align: center;
	background-image: url("images/tumble.gif");
	background-position: center;
	border: 3px solid orange;
}
#sidebar {
	margin: 2% 4% 2% 5%;
	padding: 5% 0 0 1%;
	float: left;
	clear: left;
	width: 25%;
	border: 4px solid black;
	background-image: url("images/made.gif");
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: white;
	color: palegreen;
}
#about {
	text-transform: capitalize;
	text-align: center;
	color: slategray;
	font-weight: bolder;
	padding: 50px 0px 25px 0px;
	margin: 1% 0 0 0;
}
#content {
	text-transform: uppercase;
	text-align: center;
	color: slategray;
	font-weight: bolder;
}
#footer {
	color: moccasin;
	padding: 25px 0px 30px 0px;
	text-align: center;
	background: linear-gradient(to top right, fuchsia, whitesmoke);
	font-style: oblique;
	animation: blink 0.5s infinite;
}
@keyframes blink {
	0% {opacity: 0;}
}
a:link {
	color: #ADD8E6;
}
a:visited {
	color: #E6ACD7;
}